<h1>Student Form</h1>

<%= form_tag do %>
  <label>First Name:</label><br>
  <%= text_input_tag "first[name]" %>

  <label>Last Name:</label><br>
  <%= text_input_tag "last[name]" %>

  <%= submit_tag "Submit Student" %>
<% end %>
